

.main {
    background: #FBF6EE;
    margin: auto;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 2rem;*/
    max-width: 100vw;
}

.hero {
    padding: 6em;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
    /*height: 24em;*/
    justify-content: center;
    background-image: url("https://reports.astroroshita.com/wp-content/uploads/2025/11/39591335_heart_b_0006_hearts_background-1.webp");
    background-size: cover;
    z-index: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    height: 80vh;
    padding: 2em 0 4em 4em;
    background-image: url("https://reports.astroroshita.com/wp-content/uploads/2025/11/Rectangle-34624683.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    gap: 0;
       /*z-index: 10;*/
       overflow: hidden;
}

.heroContent {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    align-content: center;
    justify-content: center;
   
}

.tagline {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #db2777;
    padding: .5rem 1rem;
    border-radius: 9999px;
    background: #ffffff;
    display: inline-block;
    font-family: Lato;
    width: fit-content;
}

.heading {
    font-family: Playfair;
    font-weight: 800;
    color: #582b6e;
    font-size: 1.875rem;
}
.desc {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #343434;
    line-height: 1.5rem;
    font-family: Lato;
}

.subheading {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #E44377;
    font-family: Lato;
}
.subheading span {
    color: #582b6e;
}

.button {
    max-width: fit-content;
    background-color: #623777;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 999rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    font-family: Lato;
    box-shadow: 0px 4px 15.2px 0px #00000040;    
    box-shadow: 0px 9px 9.1px 0px #DA99DE inset;
}

.note{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    color: #343434;
    font-family: Lato;
}
.heroImage {
    position: relative;
    right: -75;
    bottom: -45;
    max-width: 45%;
    z-index: 0;
}